*{
  margin:0px;
  padding: 0px;
}

ul, li{
  list-style: none;
}
.App {
  text-align: center;
}

.App-header {
  background-color: grey;
}

.App-link {
  color: #61dafb;
}
.form-padding{
  margin-top: 10px;
  margin-bottom: 10px;
}
